@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h1>Manage Users</h1>
        <p><a class="btn btn-default" id="manageButtons" href="/SteamUsers">Manage Users</a></p>
        @*<img src="https://media.giphy.com/media/3oEduIBjrydlnXYrAI/giphy.gif" class="gif" />*@
    </div>
    <div class="col-md-4">
        <h1>Manage Games</h1>
        <p><a class="btn btn-default" id="manageButtons" href="/Games">Manage Games</a></p>
        @*<img src="https://m.popkey.co/33966f/pZwMK.gif" class="gif" />*@
    </div>
    <div class="col-md-4">
        <h1>Manage Computers</h1>
        <p><a class="btn btn-default" id="manageButtons" href="/Computers">Manage Computers</a></p>
        @*<img src="https://media1.tenor.com/images/5a5b26e19c0df8b4d602103c454dba80/tenor.gif?itemid=5177277" class="gif" />*@
    </div>
</div>
