@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
    
<div class="background">
    <p class="lead"></p>
    @*<img src="http://www.nextpittsburgh.com/wp-content/uploads/2015/10/11696239_723253717802340_549046177475283658_o.jpg" class="logo"/>*@ 
    <h2>Welcome!</h2>
    <img src="https://i.imgur.com/K3zTJZX.gif" class="gif" />
    </div> 
@*</div>*@

<div class="row">
    <div class="col-md-4">
        <h1>Manage User Accounts</h1>
        <p><a class="btn btn-default" href="/SteamUsers">Manage Accounts</a></p>
    </div>
    <div class="col-md-4">
        <h1>Manage Games</h1>
        <p><a class="btn btn-default" href="/Games">Manage Games</a></p>
    </div>
</div>