.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.2em;
  font-family: 'Press Start 2P', cursive;
}

.App-intro {
  font-size: large;
}

.game {
  display: inline-block; 
  border: solid 4px blue;
  border-radius: 3px;
  background-color:  grey;
  margin: 10px; 
  box-shadow: 10px 10px black; 
}

.gameImage {
  width: 400px; 
  height: auto; 
}

span{
  font-size: 12px; 
  font-family: 'Press Start 2P', cursive;
}